.app {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}
.form {
  width: 185px;
  border: 1px solid gray;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

input {
  margin-top: 2px;
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 10px auto 0;
}

.table {
  width: calc(100% - 185px);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
table{
  width: 100%;
}

table, th, td {
  border: 1px dashed black;
}